In [47]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [48]:
df=pd.read_csv("ec2024.csv")
df.head()

,No,state,constituency,won status,votes,(votes),Name,Party Name
0,1,Haryana,KURUKSHETRA(2),won,788569,(+ 172914),KRISHAN PAL,Bharatiya Janata Party
1,2,Haryana,KURUKSHETRA(2),lost,615655,( -172914),MAHENDER PRATAP SINGH,Indian National Congress
2,3,Haryana,KURUKSHETRA(2),lost,25206,( -763363),KISHAN THAKUR,Bahujan Samaj Party
3,4,Haryana,KURUKSHETRA(2),lost,8085,( -780484),SUNIL TEWATIA,Indian National Lok Dal
4,5,Haryana,KURUKSHETRA(2),lost,5361,( -783208),NALIN HOODA,Jannayak Janta Party

In [49]:
df.shape

(8902, 8)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8902 entries, 0 to 8901
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No            8902 non-null   int64
 1   state         8902 non-null   object
 2   constituency  8902 non-null   object
 3   won status    8360 non-null   object
 4   votes         8902 non-null   object
 5   (votes)       8901 non-null   object
 6   Name          8902 non-null   object
 7   Party Name    8902 non-null   object
dtypes: int64(1), object(7)
memory usage: 556.5+ KB

In [51]:
df.isnull().sum()

No                0
state             0
constituency      0
won status      542
votes             0
(votes)           1
Name              0
Party Name        0
dtype: int64

In [52]:
df.describe(include=['object'])

,state,constituency,won status,votes,(votes),Name,Party Name
count,8902,8902,8360,8902,8901,8902,8902
unique,36,96,2,6100,8808,8101,746
top,Maharashtra,CHENNAI NORTH(2),lost,799,( -758217),NOTA,Independent
freq,1169,600,7817,8,3,542,3920

In [53]:
df.count()

No              8902
state           8902
constituency    8902
won status      8360
votes           8902
(votes)         8901
Name            8902
Party Name      8902
dtype: int64

In [56]:
de=df[df.state=="Goa"].set_index('ref')
de=pd.DataFrame(de)
filename = 'Goa_data.csv'
de.to_csv(filename, index=True)

SyntaxError: invalid non-printable character U+00A0 (3783714325.py, line 4)