In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("class.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class   10 non-null     int64
 1   Marks   10 non-null     int64
dtypes: int64(2)
memory usage: 292.0 bytes

In [3]:
df.describe()

            Class      Marks
count    10.00000  10.000000
mean   2014.50000  88.800000
std       3.02765   3.765339
min    2010.00000  82.000000
25%    2012.25000  86.250000
50%    2014.50000  89.000000
75%    2016.75000  92.000000
max    2019.00000  93.000000

In [4]:
df.dropna(inplace=True)
print(df)

   Class  Marks
0   2010     87
1   2011     85
2   2012     89
3   2013     89
4   2014     86
5   2015     82
6   2016     93
7   2017     92
8   2018     93
9   2019     92

In [5]:
df["Marks"].mean()

88.8

In [6]:
m=df['Marks'].median()

In [7]:
df['Marks'].mode()

0    89
1    92
2    93
Name: Marks, dtype: int64

In [8]:
df['Marks'].fillna(df['Marks'].median(),inplace=True)

In [9]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool