In [55]:
# import thre required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

# import the necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
 
# keras specific   
import keras 
from keras.models import Sequential
from keras.layers import Dense

df=pd.read_csv("regression.csv")

In [42]:
# Reading the Data and Performing Basic Data Checks
print(df.shape)

df.head()

(683, 5)

   PSAVERT    PCE  UEMPMED       POP  UNEMPLOY
0     12.6  506.7      4.5  198712.0      2944
1     12.6  509.8      4.7  198911.0      2945
2     11.9  515.6      4.6  199113.0      2958
3     12.9  512.2      4.9  199311.0      3143
4     12.8  517.4      4.7  199498.0      3066

In [43]:
df.describe()

          PSAVERT           PCE     UEMPMED            POP      UNEMPLOY
count  683.000000    683.000000  683.000000     683.000000    683.000000
mean     8.069400   6467.020205    8.939385  268650.110681   7739.795022
std      3.526966   5059.680154    4.029039   42782.857172   2668.545462
min      1.400000    506.700000    2.100000  198712.000000   2685.000000
25%      5.500000   1966.050000    6.250000  230526.500000   6199.000000
50%      7.400000   5085.700000    8.200000  267943.000000   7398.000000
75%     10.900000  10183.700000    9.600000  309109.105500   8584.500000
max     32.000000  19337.800000   25.200000  336616.141000  23090.000000

In [48]:
# Creating Arrays for the Features and the Response Variable
target_column = ['UNEMPLOY']
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe()

          PSAVERT         PCE     UEMPMED         POP    UNEMPLOY
count  683.000000  683.000000  683.000000  683.000000  683.000000
mean     0.252169    0.334424    0.354738    0.798090    0.335201
std      0.110218    0.261647    0.159882    0.127097    0.115571
min      0.043750    0.026203    0.083333    0.590322    0.116284
25%      0.171875    0.101669    0.248016    0.684835    0.268471
50%      0.231250    0.262993    0.325397    0.795990    0.320398
75%      0.340625    0.526621    0.380952    0.918284    0.371784
max      1.000000    1.000000    1.000000    1.000000    1.000000

In [49]:
# Creating the Training and Test Datasets
X=df[predictors].values

In [50]:
y = df[target_column].values

In [51]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

In [52]:
X_train.shape,X_test.shape

((478, 4), (205, 4))

In [56]:
# Building the Deep Learning Regression Model

# define the model
model=Sequential()
model.add(Dense(500,input_dim=4,activation="relu"))
model.add(Dense(500,activation="relu"))
model.add(Dense(50,activation="relu"))
model.add(Dense(1))

In [57]:
model.summary()  #print model summary

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 500)               2500

 dense_1 (Dense)             (None, 500)               250500

 dense_2 (Dense)             (None, 50)                25050

 dense_3 (Dense)             (None, 1)                 51

=================================================================
Total params: 278101 (1.06 MB)
Trainable params: 278101 (1.06 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [60]:
# define an optimizer and the loss measure for training
model.compile(loss="mean_squared_error",optimizer="adam",metrics=["mean_squared_error"])
model.fit(X_train,y_train,epochs=20)

Epoch 1/20
15/15 [==============================] - 2s 13ms/step - loss: 0.0164 - mean_squared_error: 0.0164
Epoch 2/20
15/15 [==============================] - 0s 9ms/step - loss: 0.0054 - mean_squared_error: 0.0054
Epoch 3/20
15/15 [==============================] - 0s 9ms/step - loss: 0.0033 - mean_squared_error: 0.0033
Epoch 4/20
15/15 [==============================] - 0s 8ms/step - loss: 0.0031 - mean_squared_error: 0.0031
Epoch 5/20
15/15 [==============================] - 0s 11ms/step - loss: 0.0025 - mean_squared_error: 0.0025
Epoch 6/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0026 - mean_squared_error: 0.0026
Epoch 7/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0025 - mean_squared_error: 0.0025
Epoch 8/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0022 - mean_squared_error: 0.0022
Epoch 9/20
15/15 [==============================] - 0s 8ms/step - loss: 0.0020 - mean_squared_error: 0.0020
Epoch 10/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0020 - mean_squared_error: 0.0020
Epoch 11/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0019 - mean_squared_error: 0.0019
Epoch 12/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0022 - mean_squared_error: 0.0022
Epoch 13/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0019 - mean_squared_error: 0.0019
Epoch 14/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0017 - mean_squared_error: 0.0017
Epoch 15/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0016 - mean_squared_error: 0.0016
Epoch 16/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0019 - mean_squared_error: 0.0019
Epoch 17/20
15/15 [==============================] - 0s 7ms/step - loss: 0.0021 - mean_squared_error: 0.0021
Epoch 18/20
15/15 [==============================] - 0s 8ms/step - loss: 0.0014 - mean_squared_error: 0.0014
Epoch 19/20
15/15 [==============================] - 0s 8ms/step - loss: 0.0015 - mean_squared_error: 0.0015
Epoch 20/20
15/15 [==============================] - 0s 8ms/step - loss: 0.0012 - mean_squared_error: 0.0012

In [62]:
# Predict on the Test Data and Compute Evaluation Metrics
pred_train=model.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train)))

pred=model.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred)))

15/15 [==============================] - 0s 4ms/step
0.03694908111807845
7/7 [==============================] - 0s 4ms/step
0.04067949823443521